## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [ ]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
df_2000 = pd.read_csv("gasolina_2000+.csv", index_col=0)
df_2010 = pd.read_csv("gasolina_2010+.csv", index_col=0)

df = pd.concat([df_2000, df_2010])

C:\Users\leona\AppData\Local\Temp\ipykernel_23452\1498554002.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2010 = pd.read_csv("gasolina_2010+.csv", index_col=0)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [3]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [5]:
type(df["DATA INICIAL"].iloc[2])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [6]:
df["DATA INICIAL"] = pd.to_datetime(df["DATA INICIAL"])
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [7]:
df["ANO-MÊS"] = df["DATA FINAL"].apply(lambda x: "{}".format(x.year)) + df["DATA FINAL"].apply(lambda x: "-{:02d}".format(x.month))

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [8]:
df["PRODUTO"].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [9]:
df_GasolinaComum = df[df["PRODUTO"] == "GASOLINA COMUM"]

In [10]:
df_GasolinaComum

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MÊS
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [11]:
df_GasolinaComum[df_GasolinaComum["ANO-MÊS"] == "2008-08"]["PREÇO MÉDIO REVENDA"].mean()

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [12]:
df_GasolinaComum[(df_GasolinaComum["ANO-MÊS"] == "2014-05") & (df_GasolinaComum["ESTADO"] == "SAO PAULO")]["PREÇO MÉDIO REVENDA"].mean()

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [13]:
df_GasolinaComum[df_GasolinaComum["PREÇO MÉDIO REVENDA"] > 5][["ESTADO", "ANO-MÊS", "PREÇO MÉDIO REVENDA"]].head(20)

                ESTADO  ANO-MÊS  PREÇO MÉDIO REVENDA
98201             ACRE  2018-05                5.053
98347             ACRE  2018-06                5.035
98493             ACRE  2018-06                5.038
98511   RIO DE JANEIRO  2018-06                5.016
98646             ACRE  2018-06                5.031
98797             ACRE  2018-06                5.036
98948             ACRE  2018-06                5.039
99098             ACRE  2018-07                5.021
99247             ACRE  2018-07                5.042
99398             ACRE  2018-07                5.038
99549             ACRE  2018-07                5.033
99701             ACRE  2018-08                5.031
99852             ACRE  2018-08                5.015
100003            ACRE  2018-08                5.023
100153            ACRE  2018-08                5.036
100302            ACRE  2018-09                5.018
100453            ACRE  2018-09                5.074
100604            ACRE  2018-09                5.129
100756            ACRE  2018-09                5.153
100774  RIO DE JANEIRO  2018-09                5.036

### 11. Qual a média de preço dos estados da região sul em 2012?

In [14]:
df_Aux = df_GasolinaComum[df_GasolinaComum["DATA FINAL"].apply(lambda x: x.year) == 2012]

In [15]:
df_Aux[df_Aux["REGIÃO"] == "SUL"][["ESTADO", "PREÇO MÉDIO REVENDA"]].groupby("ESTADO").mean()

                   PREÇO MÉDIO REVENDA
ESTADO
PARANA                        2.684731
RIO GRANDE DO SUL             2.759308
SANTA CATARINA                2.720288

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [16]:
df_GasolinaComum["ANO"] = df_GasolinaComum["DATA FINAL"].dt.year
df_Rio = df_GasolinaComum[df_GasolinaComum["ESTADO"] == "RIO DE JANEIRO"][["ANO", "PREÇO MÉDIO REVENDA"]].groupby("ANO").last()

C:\Users\leona\AppData\Local\Temp\ipykernel_23452\2305921162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_GasolinaComum["ANO"] = df_GasolinaComum["DATA FINAL"].dt.year

In [17]:
df_Rio["VARIAÇÃO PERCENTUAL"] = ((df_Rio - df_Rio.shift(1))/ df_Rio.shift(1)) * 100

In [18]:
df_Rio

      PREÇO MÉDIO REVENDA  VARIAÇÃO PERCENTUAL
ANO
2004                2.296                  NaN
2005                2.508             9.233449
2006                2.531             0.917065
2007                2.540             0.355591
2008                2.565             0.984252
2009                2.607             1.637427
2010                2.660             2.032988
2011                2.849             7.105263
2012                2.877             0.982801
2013                3.072             6.777894
2014                3.206             4.361979
2015                3.862            20.461634
2016                4.002             3.625065
2017                4.548            13.643178
2018                4.812             5.804749
2019                4.995             3.802993
2020                4.929            -1.321321
2021                6.099            23.737066

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [19]:
df_Max = df_GasolinaComum.groupby("ANO-MÊS").max()["PREÇO MÉDIO REVENDA"]
df_Min = df_GasolinaComum.groupby("ANO-MÊS").min()["PREÇO MÉDIO REVENDA"]

idx_max = df_GasolinaComum.groupby("ANO-MÊS")["PREÇO MÉDIO REVENDA"].idxmax()
idx_min = df_GasolinaComum.groupby("ANO-MÊS")["PREÇO MÉDIO REVENDA"].idxmin()

In [20]:
df_Diff = pd.DataFrame()

In [21]:
df_Diff["ABS_DIFF"] = df_Max - df_Min
df_Diff["PERCENT_DIFF"] = (df_Max - df_Min) / df_Min * 100
df_Diff["MAX"] = df_Max
df_Diff["MIN"] = df_Min

In [22]:
'''
df_GasolinaComum.loc[idx_max]["ESTADO"] gera um dataframe onde os indices sao os indices originais, como no df_Diff os indices sao datas, podemos usar o argumento
.values para pegar somente os valores do dataframe

IMPORTANTE: .values so funciona nesse caso porque os dataframes que queremos juntar possuem o mesmo tamanho
'''

df_Diff["ESTADO_MAX"] = df_GasolinaComum.loc[idx_max]["ESTADO"].values
df_Diff["ESTADO_MIN"] = df_GasolinaComum.loc[idx_min]["ESTADO"].values

In [23]:
df_Diff

         ABS_DIFF  PERCENT_DIFF    MAX    MIN   ESTADO_MAX        ESTADO_MIN
ANO-MÊS
2004-05     0.550     29.131356  2.438  1.888         ACRE         SAO PAULO
2004-06     0.584     30.543933  2.496  1.912  MATO GROSSO         SAO PAULO
2004-07     0.609     31.456612  2.545  1.936         ACRE  DISTRITO FEDERAL
2004-08     0.530     26.108374  2.560  2.030  MATO GROSSO         SAO PAULO
2004-09     0.539     26.538651  2.570  2.031         ACRE         SAO PAULO
...           ...           ...    ...    ...          ...               ...
2021-01     1.383     36.109661  5.213  3.830         ACRE             AMAPA
2021-02     1.688     40.960932  5.809  4.121         ACRE             AMAPA
2021-03     2.109     46.058091  6.688  4.579         ACRE             AMAPA
2021-04     1.450     30.353779  6.227  4.777         ACRE             AMAPA
2021-05     1.391     28.580234  6.258  4.867         ACRE             AMAPA

[204 rows x 6 columns]

In [24]:
df_Diff["ESTADO_MAX"].value_counts()

ESTADO_MAX
ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: count, dtype: int64

In [25]:
df_Diff["ESTADO_MIN"].value_counts()

ESTADO_MIN
SAO PAULO              40
AMAPA                  38
PIAUI                  28
PARAIBA                28
PARANA                 14
AMAZONAS               14
DISTRITO FEDERAL       12
MARANHAO                9
SANTA CATARINA          6
PERNAMBUCO              4
MATO GROSSO DO SUL      3
RIO GRANDE DO NORTE     2
GOIAS                   2
CEARA                   2
BAHIA                   2
Name: count, dtype: int64